.button {
  color: #fff;
  height: 30px;
  border: none;
  padding: 5px;
  outline: none;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 12px;
  text-align: center;
  position: relative;
  align-self: center;
  align-items: center;
  border-radius: 15px;
  letter-spacing: 2px;
  text-transform: none;
  justify-items: center;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  background-color: #EE7179;
  font-family: 'Caveat', cursive;
  transition: background-color .1s ease;

  &::after {
    left: 8px;
    bottom: 0;
    width: 91%;
    content: '';
    opacity: .18;
    height: 3.5px;
    position: absolute;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: darken(#EE7179, 50%);
    transition: background-color .2s ease;
  }

  &:focus, &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    background-color: lighten(#EE7179, 5%) !important;

    &::after {
      opacity: .22 !important;
    }
  }

  &:active {
    background-color: darken(#EE7179, 5%) !important;

    &::after {
      opacity: .32
    }
  }
}

@media only screen and (max-width: 572px) {
  .button {
    height: 30px;
    padding: 5px;
    font-size: 15px;
  }
}
