.cardContainer {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  //display: grid;
 // grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-self: center;
  align-self: center;
  align-content: space-around;
  justify-content: space-around;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  left: -17.5px;

  li {
    color: #c21500;
    display: flex;
    justify-items: center;
    padding: 0;
    max-height: 35px;
    margin-right: 10px;

    a, button {
      outline: none;
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
      padding: 5px;
      color: black;
      border-radius: 5px;
      background-color: #DEE8C1;
      opacity: 0.8;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;

      &:active, &:focus, &:hover {
        color: whitesmoke;
        background-color: #008E46;
        border: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 1140px) {

  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 860px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 580px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
