* {
  line-height: 22px;
  transition: all 0.3s ease-out;
}

.container {
  display: flex;
  font-weight: 800;
  min-height: 100vh;
  grid-area: content;
  text-align: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Caveat', cursive;

  .card {
    grid-row: 1;
    display: grid;
    padding: 10px;
    grid-column: 1;
    max-width: 70%;
    margin: 5px auto;
    max-height: 72vh;
    background: #fff;
    text-align: center;
    align-self: center;
    border-radius: 15px;
    justify-self: center;
    justify-items: center;
    border: 2px solid #f0f0f0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr repeat(3, 2fr);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);

    .closeBtn {
      grid-row: 1;
      grid-column: 2;
      color: #EE7178;
      justify-self: end;

      .icon:hover {
        transform: rotate(180deg);
      }
    }

    .title {
      grid-row: 2;
      color: black;
      grid-column: 1;
      font-size: 28px;
      font-weight: bold;
      align-self: center;
    }

    .image {
      grid-row: 3;
      width: 250px;
      height: 180px;
      grid-column: 1;

      &:hover {
        transform: scale(1.1);
      }
    }

    .description {
      width: 60%;
      grid-row: 2;
      grid-column: 2;
      font-size: 26px;
      font-weight: 400;
      color: olivedrab;
    }

    .attributes {
      grid-row: 3;
      display: flex;
      grid-column: 2;
      align-items: center;
      justify-content: center;

      p {
        margin-right: 10px;

        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }

    .weight {
      color: gray;
      padding: 0 3px;
      font-size: 20px;
      text-align: center;
      position: relative;
      border-radius: 15px;
      border: 1px solid #f0f0f0;

      span {
        color: black;
        font-weight: 600;
      }
    }

    .price {
      color: gray;
      padding: 0 3px;
      font-size: 17px;
      text-align: right;
      position: relative;
      border-radius: 15px;
      border: 1px solid #f0f0f0;

      span {
        color: black;
        font-weight: 600;
      }
    }

    .delivery {
      width: 70%;
      color: gray;
      grid-row: 4;
      grid-column: 2;
      font-size: 20px;
    }
  }

  .moreProductsTitle {
    display: flex;
    padding: 10px;
    min-width: 30%;
    font-size: 22px;
    margin: 30px auto;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    border-bottom: 2px solid #aaaaaa;
  }

  .promoContainer {
    display: grid;
    max-width: 70%;
    padding: 30px 0;
    font-weight: 800;
    background: #fff;
    margin-left: auto;
    align-self: center;
    text-align: center;
    margin-right: auto;
    border-radius: 15px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    border: 2px solid #f0f0f0;
    grid-template-columns: 1fr 1fr;
    font-family: 'Caveat', cursive;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);

    .promoCard {
      margin: 5px;
      display: grid;
      padding: 10px;
      max-width: 65%;
      background: #fff;
      max-height: 300px;
      text-align: center;
      border-radius: 15px;
      justify-items: center;
      justify-content: center;
      border: 1px solid #f0f0f0;
      grid-template-rows: 2fr 1fr 1fr 2fr 1fr;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

      &:hover {
        transform: scale(1.02);

        &:after {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          content: '';
          opacity: 0.2;
          position: absolute;
          border-radius: 15px;
          background: linear-gradient(-71deg, #000 0%, grey 49%, #fff 100%);
        }
      }

      .image {
        width: 140px;
        height: 70px;
      }

      .title {
        margin: 0;
        color: black;
        font-size: 17px;
        font-weight: bold;
      }

      .weight {
        margin: 0;
        color: gray;
        right: -50px;
        padding: 0 5px;
        font-size: 17px;
        text-align: left;
        position: relative;
        border-radius: 15px;
        border: 1px solid #f0f0f0;

        &:nth-child(2) {
          right: 50px;
        }

        span {
          color: black;
          font-weight: 600;
        }
      }

      .description {
        font-size: 17px;
        font-weight: 600;
        color: olivedrab;
      }

      .price {
        margin: 0;
        color: gray;
        left: -30px;
        padding: 0 5px;
        font-size: 17px;
        text-align: right;
        position: relative;
        border-radius: 15px;
        border: 1px solid #f0f0f0;

        span {
          color: black;
          font-weight: 600;
        }

        .description {
          width: 60%;
          font-size: 26px;
          font-weight: 400;
          color: olivedrab;
        }
      }
    }
  }

  .commentContainer {
    width: 72%;
    display: flex;
    max-width: 75%;
    margin-top: 30px;
    background: #fff;
    align-self: center;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    border: 2px solid #f0f0f0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  }

  .commentArea {
    width: 80%;
    height: auto;
    padding: 20px;
    display: flex;
    margin-top: 30px;
    background: #fff;
    border-radius: 15px;
    margin-bottom: 30px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .rate {
    align-self: center;

    .ratingTitle {
      margin: 20px 0;
      color: #008E46;
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
    }

    button {
      margin-left: 10px;
    }
  }

  .rating {
    font-size: 18px;
    margin: 20px 0 0 0;

    button {
      margin-left: 10px;
    }
  }

  .pagination {
    display: flex;
    left: -17.5px;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: row;
    justify-content: center;

    li {
      padding: 0;
      display: flex;
      color: #c21500;
      max-height: 35px;
      margin-right: 10px;
      justify-items: center;

      a, button {
        padding: 5px;
        color: black;
        opacity: 0.8;
        outline: none;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
        user-select: none;
        border-radius: 5px;
        -ms-user-select: none;
        -moz-user-select: none;
        background-color: #DEE8C1;
        -webkit-user-select: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
        -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);

        &:active, &:focus, &:hover {
          border: none;
          color: whitesmoke;
          background-color: #008E46;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  .container {
    .card {
      max-height: 700px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);

      .closeBtn {
        grid-row: 1;
        display: flex;
        grid-column: 1;
        justify-self: end;

        .icon:hover {
          transform: rotate(0deg);
        }
      }

      .title {
        grid-row: 3;
        grid-column: 1;
      }

      .image {
        grid-row: 2;
        grid-column: 1;
      }

      .description {
        grid-row: 4;
        grid-column: 1;
      }

      .attributes {
        grid-row: 5;
        grid-column: 1;
      }

      .delivery {
        grid-row: 6;
        grid-column: 1;
      }
    }

    .promoContainer {
      display: grid;
      max-width: 90%;
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 900px) {
  .container {
    .card {
      width: 90%;
      max-width: 90%;
    }

    .moreProductsTitle {
      display: block;
      border-bottom: none;
    }

    .commentContainer {
      width: 95%;
      max-width: 95%;
    }
  }
}
