.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  background: #DEE8C1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Caveat', cursive;
  box-shadow: 0 5px 5px -5px rgba(0,0,0,.5);
  z-index: 999;

  .logo {
    display: flex;
    text-transform: uppercase;
    justify-self: start;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;

    p {
      color: #008E46;
      font-size: 21px;
      font-family: 'Balsamiq Sans', Arial, cursive, sans-serif;

      & > span {
        font-size: 20px;
        color: #EE7179;
        font-style: italic;
      }
    }

    .label {
      color: darkorange;
      font-size: 17px;
      text-transform: lowercase;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }

  .menuIcon {
    display: none;

    .faBars {
      color: #fff;
    }

    .faTimes {
      color: #fff;
      font-size: 2rem;
    }
  }


  .navMenu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;

    .faCaretDown {
      display: block;
      transition: 0.3s ease;
    }

    .navItem {
      display: flex;
      align-items: center;
      height: 80px;
      z-index: 5;

      .navLinks {
        display: flex;
        color: #008E46;
        text-decoration: none;
        padding: 0.5rem 1rem;
        flex-direction: row;
        font-weight: 600;
        z-index: 5;

        &:hover {
          background-color: #EE7179;
          color: white;
          border-radius: 4px;
          transition: all 0.2s ease-out;
        }
      }
    }

    .navMobileItem {
      display: none;
    }

    .navLinksMobile {
      display: none;
    }
  }
}

@media screen and (max-width: 1020px) {
  .NavbarItems {
    position: relative;
  }

  .navbar {
    width: 100%;
    height: 100px;
    opacity: 0.9;

    .navMenu {
      display: flex;
      flex-direction: column;
      height: 90vh;
      position: absolute;
      top: 74px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;

      .navBlockItem {
        display: none;
      }

      .faCaretDown {
        display: none;
      }

      .navItem {
        height: 40px;

        &:nth-child(1) {
          margin-top: 30px;
        }
      }

      .navLinks {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        color: white;

        &:hover {
          background-color: #EE7178;
          border-radius: 0;
        }
      }


      .navLinksMobile {
        display: block;
        text-align: center;
        padding: 1rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 50%;
        background: #EE7178;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;

        &:hover {
          background: #fff;
          color: #EE7178;
          transition: 250ms;
        }
      }

      .navMobileItem {
        display: block;
      }
    }

    .active {
      width: 100%;
      background: #DEE8C1;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }

    .logo {
      position: absolute;
      top: 10px;
      left: 0;
      transform: translate(25%, 50%);
    }

    .menuIcon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    button {
      display: none;
    }
  }
}
