.dropdownMenu {
  background: transparent;
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;

  li {
    background: #1888ff;
    cursor: pointer;
    height: 100%;
    width: 100%;

    &:hover {
      background: #5cabff;
    }

    .dropdownLink {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: 16px;
    }
  }
}

.clicked {
  display: none;
}


@media screen and (max-width: 960px) {
  .faCaretDown {
    display: none;
  }
}
