.dropdownMenu {
  top: 80px;
  width: 200px;
  list-style: none;
  text-align: start;
  position: absolute;
  background: transparent;

  li {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #EE7178;

    &:hover {
      background: #F2B3B3;
    }

    .dropdownLink {
      color: #fff;
      padding: 16px;
      display: block;
      text-decoration: none;
    }
  }
}

.clicked {
  display: none;
}

@media screen and (max-width: 960px) {
  .faCaretDown {
    display: none;
  }
}
