.preloader {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-items: center;
  justify-self: center;
  align-self: center;
  align-content: center;
  justify-content: center;

  .spinner {
    font-size: 44px;
    color: #008E46;
    padding: 10px;
  }

  .spinnerBig {
    font-size: 124px;
  }

  .tip {
    font: 25px 'Caveat', cursive;
    font-weight: 800;
    color: #008E46;
  }
}


