.preloader {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-self: center;
  justify-self: center;
  justify-items: center;
  align-content: center;
  justify-content: center;

  .spinner {
    padding: 10px;
    color: #aaaaaa;
    font-size: 44px;
    text-align: center;
    position: relative;
  }

  .spinnerBig {
    font-size: 75px;
    position: relative;
    text-align: center;
  }

  .tip {
    color: #aaaaaa;
    font-weight: 400;
    position: relative;
    font: 25px 'Caveat', cursive;
  }
}
