.container {
  width: 80%;
  display: grid;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  align-content: space-around;
  align-self: center;
  text-align: center;
  padding: 0 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  font-family: 'Caveat', cursive;
  vertical-align: baseline;

  span {
    color: black;
    font-weight: bolder;
  }

  img {
    border-radius: 2px;
    height: 60vh;
    width: auto;
  }

  .logo {
    color: #008E46;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Balsamiq Sans', Arial, cursive, sans-serif;
    text-transform: uppercase;

    & > span {
      font-size: 20px;
      font-weight: 400;
      color: #EE7179;
      font-style: italic;
    }
  }

  .title {
    font-size: 35px;
    font-weight: 800;
    margin: 5px 0;
  }

   h3 {
    font-size: 25px !important;
  }

  .subtitle {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    color: gray;
    margin: 5px 0;
  }

  .contacts {
    width: 80%;
    display: grid;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    align-self: center;
  }
}

@media only screen and (max-width: 985px) {
  .container {
    width: 90%;
    padding: 0 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    img {
      height: 33vh;
      width: 52.5%;
    }

    .contacts {
      width: 100%;
      display: grid;
      justify-self: center;
      justify-content: center;
      justify-items: center;
      align-content: space-around;
      align-self: center;
    }
  }
}

@media only screen and (max-width: 585px) {
  .container {
    margin-top: 50px;

    img {
      height: 25vh;
      width: 80.5%;
    }

    .title {
      font-size: 25px;
    }

    h3 {
      font-size: 20px;
    }
  }
}
