:root {
  --primary: #EE7179;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 4px;
  text-transform: capitalize;
  font-family: 'Caveat', cursive;
  background-color: var(--primary);
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.5);

  &:hover {
    padding: 6px 12px;
    border-radius: 4px;
    color: var(--primary);
    transition: all 0.3s ease-out;
    background-color: transparent;
    border: 2px solid var(--primary);
  }
}
