.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  grid-area: content;
  height: auto;
  min-height: 58.6vh;
  width: 70%;
  justify-content: space-around;
  justify-items: center;
  align-items: baseline;
  align-self: center;
  align-content: center;
  text-align: center;
  font-family: Caveat, 'Cavaet', cursive;
  font-weight: 800;
  border-radius: 15px;
  margin: 5px auto 20px auto;
  padding: 10px;
  background: #fff;
  border: 2px solid #f0f0f0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);

  .closeBtn {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: baseline;
    align-self: flex-end;
    align-content: center;
    text-align: right;
    color: #EE7178;
    margin-right: 10px;

    .icon:hover {
      transform: rotate(180deg);
    }
  }


    .logo {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      height: auto;
      width: 95%;
      justify-content: space-around;
      justify-items: center;
      align-items: baseline;
      align-self: center;
      align-content: center;
      text-align: center;
      margin: 30px 0;

      .tittle {
        font-size: 27px;
      }
  }

  .messageContent {
    height: 50%;
    width: 50%;
    margin: 0 auto;

    p,span {
      font-size: 22px;
    }

    .loginBtnLink {
      color: #EE7178;

      span:hover {
        border-bottom: 1px solid#EE7178;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    width: 90%;
    margin: 15px 0;

    .goBack {
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .container {

    .closeBtn {
      display: flex;
      justify-self: end;

      .icon:hover {
        transform: rotate(0deg);
      }
    }
  }
}


@media only screen and (max-width: 600px) {

  .container {
    width: 95%;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;


    .closeBtn {
      display: none;
    }

    .logoContainer {

      .logo {

        .tittle {
          font-size: 22px;
        }
      }
    }

    .cartClear {
      margin: 10px;
    }

    .orderItemContainer {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
      justify-content: space-between;
      align-content: center;
      align-self: center;
      flex-direction: row;
      width: 90%;

      .cartItem {
        grid-row: 1;
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .size {
          font-size: 15px;
        }
      }

      .counter {
        grid-row: 2;
        grid-column: 1;
      }

      .sum {
        grid-row: 2;
        grid-column: 2;
        margin: 0 20px;
      }

      .delete {
        grid-row: 2;
        grid-column: 3;
        margin: 0 20px;
      }
    }

    .totalGroup {
      width: 90%;
      display: flex;
      align-self: center;

      .totalProductsCount {
        font-size: 15px;
        margin: 10px;
      }

      .totalSum {
        font-size: 15px;
      }
    }

    .btnGroup {
      width: 70%;
      display: flex;
      align-self: center;
      margin-left: auto;
      margin-right: auto;

      .goBack {
        margin-right: 10px;
      }
    }
  }
}


