form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;

  .select {
    color: #008E46;
    background-color: #EBEBEB;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1.2px solid gray;
    width: 150px;
    height: 32px;
    border-radius: 3px 3px 0 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 17px;

    &:hover {
      background-color: #E5E5E5;
    }
  }

  input[type="file"] {
    display: none;
  }

  .customFileUpload {
    margin-bottom: 15px;
    padding: 7px 4px;
    border: 1px solid #ccc;
    display: inline-block;
    font-family: raleway-grid, sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #F0650D;
    color: whitesmoke;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    cursor: pointer;
  }


  .formsSummaryError {
    font: 15px raleway-grid, sans-serif;
    font-weight: bold;
    margin: 5px auto;
    display: flex;
    color: #c21500;
    max-width: 70%;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .errMsg {
    color: darkred;
  }

  .order {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
  }
}


@media only screen and (max-width: 1020px) {

}


@media only screen and (max-width: 600px) {

  .order {
    margin-left: 10px;
  }
}


