.container {
  width: 80%;
  height: auto;
  display: grid;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  align-content: space-around;
  align-self: center;
  grid-template-columns: 40% 5% 55%;
  grid-template-rows: 1fr;
  margin: 0 auto;
  font-family: 'Caveat', cursive;
  vertical-align: baseline;

  span {
    color: black;
    font-weight: bolder;
  }

  img {
    border-radius: 2px;
  }

  .logo {
    color: #008E46;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Balsamiq Sans', Arial, cursive, sans-serif;
    text-transform: uppercase;

    & > span {
      font-size: 20px;
      font-weight: 400;
      color: #EE7179;
      font-style: italic;
    }
  }

  .title {
    font-size: 25px;
    font-weight: 800;
  }

  .subtitle {
    font-size: 25px;
    font-weight: 400;
    color: gray;
  }

  .description {
    width: 80%;
  }

  .line {
    height: 85%;
    border-right: 3px solid #aaaaaa;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    align-self: center;
  }
}

@media only screen and (max-width: 985px) {
  .container {
    width: 90%;
    padding: 0 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .aside {
      width: 80%;
    }

    .line {
      display: none;
    }
  }
}
