.page {
  width: 50%;
  display: grid;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 63.5vh;
  grid-area: content;
  align-self: center;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  align-content: center;
  border: 2px solid #aaaaaa;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
  justify-content: space-around;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);

  .closeBtn {
    grid-row: 1;
    color: #EE7178;
    justify-self: end;

    .icon:hover {
      transform: rotate(180deg);
    }
  }

  .messageContent {
    width: 70%;
    grid-row: 2;
    display: grid;
    margin-left: auto;
    align-self: start;
    margin-right: auto;

    h3 {
      line-height: 30px;

      span {
        color: #EE7179;
      }
    }
  }
}

@media only screen and (max-width: 798px) {
  .page {
    width: 90%;
    margin: 30px auto;
  }
  .messageContent {
    width: 80%;
  }
}
