button {
  display: inline-block;
  line-height: 18px;
  font-weight: 800;
  font-family: 'Caveat', cursive;
  text-transform: uppercase;
  padding: 5px 20px;
  margin: 5px 15px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;

  &:focus, &:hover {
    background-color: #DEE8C1;
    color: olivedrab;
  }
}

.tabType {
  font-size: 18px;
  border-radius: 15px;
}

.tabSection {
  font-size: 20px;
  text-transform: capitalize;
  color: #008E46;
  border-radius: 16px 16px 0 0;

  &:focus {
    border-bottom: 3px solid olivedrab;
    color: olivedrab;
  }
}
