button {
  cursor: pointer;
  margin: 5px 15px;
  font-weight: 800;
  transition: .25s;
  line-height: 18px;
  padding: 5px 20px;
  -o-transition: .25s;
  display: inline-block;
  border: 1px solid #fff;
  -webkit-transition: .25s;
  text-transform: uppercase;
  font-family: 'Caveat', cursive;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

  &:focus, &:hover {
    color: olivedrab;
    background-color: #DEE8C1;
  }
}

.tabType {
  font-size: 18px;
  border-radius: 15px;
}

.tabSection {
  font-size: 20px;
  color: #008E46;
  text-transform: capitalize;
  border-radius: 16px 16px 0 0;

  &:active, &:focus {
    color: olivedrab;
    border-bottom: 3px solid olivedrab;
  }
}

.tabPromoSection {
  font-size: 20px;
  color: indianred;
  text-transform: capitalize;
  border-radius: 16px 16px 0 0;

  &:hover, &:active, &:focus {
    color: snow;
    opacity: 0.8;
    background-color: #F2B3B3;
    border-bottom: 3px solid #EE7178;
  }
}

.tabSize {
  color: black;
  font-size: 20px;
  border-radius: 50%;
  background-color: #D0D0D0;
  text-transform: capitalize;

  &:hover, &:active, &:focus {
    color: snow;
    opacity: 0.8;
    background-color: #515151;
  }
}

.tabActiveSize {
  color: snow;
  opacity: 0.8;
  font-size: 20px;
  border-radius: 50%;
  background-color: #515151;
  text-transform: capitalize;

  &:hover, &:active, &:focus {
    background-color: #515151;
  }
}

.tabActiveType {
  font-size: 18px;
  color: olivedrab;
  border-radius: 15px;
  background-color: #DEE8C1;

  &:focus, &:hover {
    color: olivedrab;
    background-color: #DEE8C1;
  }
}

.tabActiveSection {
  color: #008E46;
  font-size: 20px;
  background-color: #DEE8C1;
  text-transform: capitalize;
  border-bottom: 3px solid olivedrab;
  border-radius: 16px 16px 0 0 !important;

  &:active, &:focus {
    color: olivedrab;
    border-bottom: 3px solid olivedrab;
  }
}
