.formsControls {
  .textareaField {
    width: 35vw;
    height: 75px;
    resize: none;
    padding: 9px;
    max-lines: 50;
    outline: hidden;
    font-size: 15px;
    overflow: hidden;
    word-break: break-word;
    box-sizing: border-box;
    background-color: #FFEFBA;
    box-shadow: 1px 1px 1px #aaaaaa;
  }

  .inputField {
    width: 35vw;
    max-lines: 50;
    color: tomato;
    outline: hidden;
    overflow: hidden;
    max-width: 150px;
    word-break: break-word;
    border: 2px solid gray;
    box-shadow: 1px 1px 1px #aaaaaa;
    font: 14px "Matura MT Script Capitals", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

  .errorsContainer {
    font-weight: 400;
    max-width: 195px;
    margin-bottom: 5px;
    font: 11px raleway-grid, sans-serif;

    span {
      color: #fff;
      border: none;
      margin-top: 10px;
      font-weight: bold;
      position: relative;
      padding: 5px !important;
      border-radius: 15px !important;
      box-shadow: 1px 1px 1px #aaaaaa;
      display: inline-block !important;
      background: #c51244 !important;

      &:before {
        width: 0;
        height: 0;
        top: -5px;
        content: '';
        position: absolute;
        border-bottom: 10px solid #c51244;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }

    .warning {
      color: #008E46;
      background-color: #ffc500 !important;

      &:before {
        border-bottom: 10px solid #ffc500 !important;
      }
    }
  }
}

.error {
  input, textarea,
  input:active, input:focus,
  textarea:active, textarea:focus {
    color: #c51244 !important;
    background: #fff0f4 !important;
    border: 1px solid #c51244 !important;

    &::placeholder {
      color: #c51244 !important;
    }
  }
}
