.page {
  width: 80%;
  display: grid;
  align-content: space-around;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  border: 2px solid #aaaaaa;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: center;
  margin: 0 auto;


  img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-self: center;
    max-height: 750px;
    grid-column: 1;
    grid-row: 1;
  }

  .errorContent {
    grid-column: 2;
    grid-row: 1;
  }
}

@media only screen and (max-width: 798px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;

    img {
      grid-column: 1;
      grid-row: 2;
    }

    .errorContent {
      grid-column: 1 !important;
      grid-row: 1 !important;
    }
  }
}
