.page {
  width: 80%;
  display: grid;
  margin: 0 auto;
  grid-area: content;
  align-self: center;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #aaaaaa;
  align-content: space-around;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

  img {
    grid-row: 1;
    grid-column: 1;
    max-height: 750px;
    align-self: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .errorContent {
    grid-row: 1;
    grid-column: 2;
  }
}

@media only screen and (max-width: 798px) {
  .page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    img {
      grid-row: 2;
      grid-column: 1;
    }

    .errorContent {
      grid-row: 1 !important;
      grid-column: 1 !important;
    }
  }
}
