* {
  transition: all 0.3s ease-out;
}

.container {
  display: grid;
  max-width: 250px;
  grid-template-rows: 5fr 1fr;

  .card {
    grid-row: 1;
    margin: 5px;
    display: grid;
    padding: 10px;
    background: #fff;
    max-width: 251px;
    font-weight: 800;
    max-height: 380px;
    text-align: center;
    justify-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
    border-radius: 15px 15px 0 0;
    font-family: 'Caveat', cursive;
    grid-template-rows: 2fr 1fr 1fr 2fr 1fr;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);


    &:hover {
      transform: scale(1);

      &:after {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        opacity: 0.2;
        position: absolute;
        border-radius: 15px 15px 0 0;
        background: linear-gradient(-71deg, #000 0%, grey 49%, #fff 100%);
      }
    }

    .image {
      grid-row: 1;
      width: 210px;
      height: 150px;
    }

    .title {
      margin: 0;
      grid-row: 3;
      color: black;
      width: 220px;
      font-size: 22px;
      max-height: 15px;
      max-width: 220px;
      font-weight: bold;
    }

    .weight {
      grid-row: 2;
      display: flex;
      justify-content: space-around;

      & > p {
        color: gray;
        padding: 0 5px;
        font-size: 19px;
        max-height: 25px;
        text-align: left;
        border-radius: 15px;
        border: 1px solid #f0f0f0;
      }

      span {
        color: black;
        font-weight: 600;
      }
    }

    .description {
      grid-row: 4;
      font-size: 19px;
      font-weight: 600;
      max-height: 50px;
      color: olivedrab;
      margin-bottom: 45px;
    }

    .price {
      grid-row: 5;
      color: gray;
      left: -30px;
      padding: 0 5px;
      font-size: 20px;
      max-height: 25px;
      text-align: right;
      position: relative;
      border-radius: 15px;
      border: 1px solid #f0f0f0;

      span {
        color: black;
        font-weight: 600;
      }
    }
  }

  .btn {
    grid-row: 2;
  }
}
