* {
  transition: all 0.3s ease-out;
}

.card {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 2fr 1fr;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  max-width: 250px;
  max-height: 500px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);


  &:hover {
    transform: scale(1.02);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      border-radius: 15px;
      background: linear-gradient(-71deg, #000 0%, grey 49%, #fff 100%);
      opacity: 0.2;
    }
  }

  .image {
    width: 240px;
    height: 170px;
  }

  .title {
    color: black;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
  }

  .weight {
    position: relative;
    color: gray;
    font-size: 17px;
    text-align: left;
    right: -50px;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    padding: 0 5px;

    &:nth-child(2) {
      right: 50px;
    }

    span {
      color: black;
      font-weight: 600;
    }
  }

  .description {
    font-weight: 400;
    font-size: 15px;
    color: olivedrab;
  }

  .price {
    position: relative;
    color: gray;
    font-size: 17px;
    text-align: right;
    left: -30px;
    margin-bottom: 40px;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    padding: 0 5px;

    span {
      color: black;
      font-weight: 600;
    }
  }

  .ratingTitle {
    color: goldenrod !important;

    span {
      color: lightseagreen !important;
    }
  }
}

