.header {
  display: grid;
  height: 100px;
  grid-area: header;
  //  background: #c21500; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #ffc500, #c21500); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 5;
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 550px) {


}


