.container {
  z-index: 3;
  display: grid;
  align-self: center;
  justify-self: center;
  justify-items: center;
  grid-template-rows: 1fr;
  align-content: space-between;
  justify-content: space-around;
  grid-template-columns: repeat(6, 1fr);

  .sortPopup {
    grid-column: 4 / 6;
  }

  input {
    z-index: 1;
    color: gray;
    height: 30px;
    font-weight: 600;
    grid-column: 2 / 3;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #EFEFEF;
    font: 17px 'Caveat', cursive;
    box-shadow: 0 7px 21px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

@media only screen and (max-width: 985px) {
  .container {
    margin-top: 30px;
    margin-bottom: 15px;
    justify-self: center;

    .tab {
      font-size: 15px;
      margin: 1px auto;

      &:nth-child(1) {
        border-radius: 15px;
      }
    }

    input {
      font-size: 15px;
      margin: 1px auto;
      max-width: 130px;
    }
  }
}
