.noAuth {
  color: red;
  width: 95%;
  font-size: 19px;
  font-weight: 600;
  font-style: italic;
  align-self: center;
}

textarea {
  width: 95%;
  color: black;
  height: 60px;
  resize: none;
  padding: 9px;
  outline: none;
  max-lines: 50;
  font-size: 17px;
  overflow: hidden;
  border-radius: 5px;
  align-self: center;
  box-sizing: border-box;
  word-break: break-word;
  border: 2px solid #D0D0D0;
  background-color: #DEE8C1 !important;
}

textarea::placeholder {
  color: #008E46;
  font-size: 17px;
}

.commentForm {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.formInfo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.commentBtn {
  width: 120px;
  height: 32px;
  display: flex;
  margin-top: 4%;
  color: #f1f1f1;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  transition: 0.2s;
  margin-left: 20px;
  border-radius: 10px;
  align-items: center;
  background: #EE7179;
  justify-content: center;
  border: 2px solid #ffffff;
  text-transform: capitalize;
}

.commentBtn:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

.commentTitle {
  width: 95%;
  color: #008E46;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 3px;
}

@media (max-width: 800px) {
  .formInfo textarea {
    height: 30px;
  }
}

@media (max-width: 550px) {
  .formInfo textarea {
    height: 26px;
  }
}

@media (max-width: 400px) {
  .formInfo textarea {
    height: 20px;
    font-size: 17px;
  }

  .noAuth {
    font-size: 14px
  }
}
