.container {
  z-index: 1;
  width: 90%;
  height: 20vh;
  display: flex;
  align-self: center;
  align-items: center;
  justify-self: center;
  align-content: center;
  justify-content: space-around;
}

.inputContainer {
  display: flex;
  justify-self: right;

  input {
    display: flex;
    justify-self: right;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 75%;
    height: auto;
    margin: 20px 10px;
    flex-direction: column;
  }
}
