.container {
  width: 80%;
  display: grid;
  min-height: 77vh;
  grid-area: content;
  align-self: center;
  border-radius: 15px;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  grid-template-rows: 1fr;
  margin: 0 auto 100px auto;
  vertical-align: baseline;
  border: 2px solid #aaaaaa;
  align-content: space-around;
  font-family: 'Caveat', cursive;
  grid-template-columns: 45% 5% 45%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  &:nth-child(2n+2) {
    direction: rtl;
  }

  span {
    color: black;
    font-weight: bolder;
  }

  img {
    border-radius: 2px;
  }

  .logo {
    color: #008E46;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Balsamiq Sans', Arial, cursive, sans-serif;

    & > span {
      color: #EE7179;
      font-size: 20px;
      font-weight: 400;
      font-style: italic;
    }
  }

  .title {
    font-size: 35px;
    font-weight: 800;
  }

  .subtitle {
    color: gray;
    font-size: 25px;
    font-weight: 400;
  }

  .aside {
    display: grid;
    align-self: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-content: space-around;
  }

  .description {
    width: 80%;
    display: grid;
    align-self: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-content: space-around;
  }

  .line {
    height: 50%;
    align-self: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    align-content: space-around;
    border-right: 3px solid #008E46;
  }
}

@media only screen and (max-width: 985px) {
  .container {
    width: 85%;
    padding: 0 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    &:nth-child(1) {
      margin-top: 50px;
    }

    .aside, .description {
      width: 80%;
    }

    .line {
      display: none;
    }
  }
}
