form {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;

  .select {
    width: 150px;
    height: 32px;
    color: #008E46;
    font-size: 17px;
    border-top: none;
    margin-bottom: 0;
    padding-bottom: 0;
    border-left: none;
    border-right: none;
    background-color: #EBEBEB;
    border-radius: 3px 3px 0 0;
    border-bottom: 1.2px solid gray;

    &:hover {
      background-color: #E5E5E5;
    }
  }

  .order {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
  }

}

@media only screen and (max-width: 600px) {
  .order {
    margin-left: 10px;
  }
}
