.commentCardContainer {
  width: 65%;
  height: auto;
  display: flex;
  max-width: 65%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: transparent;
  justify-content: space-between;

  .commentatorInfo {
    display: flex;
    align-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .avatar {
      width: 60px;
      height: 60px;
      max-width: 120px;
      max-height: 120px;
      border-radius: 50%;
      margin-right: 20px;
      margin-bottom: 10px;
      border: 2px solid #f0f0f0;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .commentatorName {
      color: #008E46;
      display: flex;
      font-size: 15px;
      flex-wrap: wrap;
      font-weight: 600;
      margin-right: 4px;
      align-self: start;
      font-family: 'Caveat', cursive;
    }
  }

  .edit {
    color: green;
    display: none;
    background: transparent;
  }

  .commentInformation {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 15px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    background-color: #f0f0f0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    &:after {
      top: 0;
      width: 0;
      height: 0;
      z-index: 2;
      left: -15px;
      content: '';
      position: absolute;
      border-top: 15px solid #f0f0f0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
    }

    &:before {
      width: 0;
      top: -1px;
      height: 0;
      left: -17px;
      content: '';
      position: absolute;
      border-top: 17px solid white;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
    }

    .commentText {
      width: 95%;
      color: #008E46;
      font-size: 17px;
      font-weight: 500;
      margin-top: 10px;
      padding: 20px 5px;
      text-indent: 15px;
      border-radius: 5px;
      align-self: center;
      word-wrap: break-word;
      word-break: break-word;
      border: 1px solid #cccccc;
      font-family: Caveat, cursive;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
    }

    .editAreaContainer {
      width: 80%;
      display: flex;
      align-self: center;
      align-items: center;
      flex-direction: column;

      .editAreaText {
        width: 95%;

        .editArea {
          height: 75px;
          border-top: transparent;
          border-left: transparent;
          border-right: transparent;
        }
      }

      .editBtnContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        .editCancel {
          width: 100px;
          height: 32px;
          color: #f1f1f1;
          font-size: 18px;
          cursor: pointer;
          margin-top: 15px;
          transition: 0.3s;
          border-radius: 10px;
          background: #ff1744;
          border: 2px solid #ffffff;
          text-transform: capitalize !important;

          &:hover {
            transition: 0.3s;
            transform: scale(1.05);
          }
        }

        .editConfirm {
          width: 100px;
          height: 32px;
          color: #f1f1f1;
          font-size: 18px;
          cursor: pointer;
          margin-top: 15px;
          border-radius: 10px;
          background: #283593;
          border: 2px solid #ffffff;
          text-transform: capitalize !important;

          &:hover {
            transition: 0.3s;
            transform: scale(1.05);
          }
        }
      }
    }

    .replyComment {
      color: #008E46;
      text-align: right;

      &:hover {
        color: #EE7179;
      }
    }

    .changeText {
      display: flex;
      margin-left: auto;
      margin-right: auto;

      button {
        width: 105px;
      }
    }

    .commentDate {
      width: 95%;
      color: #25d366;
      font-size: 12px;
      font-weight: 600;
      align-self: center;
      font-family: Caveat, cursive;
    }
  }
}

@media (max-width: 900px) {
  .commentCardContainer {
    padding: 20px;
    margin-bottom: 0;
    align-items: center;
    flex-direction: column;
  }

  .commentCommon {
    display: none;
  }

  .editConfirm, .editCancel {
    width: 100px;
    font-size: 13px;
  }
  .changeText {
    flex-direction: column;
  }

  .editAreaContainer {
    margin-top: 15px;
  }
  .commentText {
    margin-top: 20px;
  }
  .commentInformation {
    margin-top: 20px;
    width: 200px !important;
    border-top-left-radius: 10px;

    &:before, &:after {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  .editBtnContainer {
    flex-direction: column;
  }

  .editConfirm {
    margin-left: 0;
    margin-top: 4px;
  }

  .editCancel {
    margin-left: 0;
  }
}
