@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');

@font-face {
  font-family: 'Caveat';
  src: url('./assets/fonts/Caveat-Regular.ttf') format('truetype');
}

* {
  outline: none !important;
  font-family: Caveat, cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: snow;

  ul, li, a {
    color: black;
    list-style: none;
    text-decoration: none;
  }
}

.app-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  margin: 0 auto;
  background: whitesmoke;
  justify-content: space-between;
  grid-auto-rows: 1fr auto 1fr;
  grid-template-areas: 'header'
                         'content'
                         'footer';
}

.app-wrapper-content {
  height: 100%;
  width: 100vw;
  grid-area: content;
  justify-self: center;
  background: whitesmoke;
  justify-content: space-between;
}

.app-wrapper-content img {
  width: 88.8%;
  max-height: 50vh;
}

@media only screen and (max-width: 992px) {
  .app-wrapper, body {
    margin: 0;
    padding: 0;
    width: 100%;
    grid-gap: 5px 0;
    max-height: 100vh;
    background: #FFFFFF;
  }

  body {
    grid-gap: 15px 0;
  }
}
