@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');

*{
    outline: none !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: snow;

    ul, li, a {
        list-style: none;
        text-decoration: none;
        color: black;
    }
}

.app-wrapper {
    display: grid;
    width: 100%;
    margin: 0 auto;
    background: whitesmoke;
    //background: #FFEFBA; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    grid-template-areas: "header"
                         "content"
                         "footer";

    grid-auto-rows: 2fr 30fr 2fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    width: 100%;
    grid-area: content;
    justify-content: center;
    justify-self: center;
    background: whitesmoke;
    //background: #FFEFBA; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app-wrapper-content img {
    width: 88.8%;
    max-height: 50vh;
}

@media only screen and (max-width: 992px) {
    .app-wrapper, body {
        width: 100%;
        max-height: 100vh;
        margin: 0;
        padding: 0;
        background: #FFFFFF;
        grid-gap: 5px 0;
    }

    body {
        grid-gap: 15px 0;
    }
}
