.descriptionBlock {
  width: 70%;
  z-index: 1;
  height: auto;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  background: #fff;
  font-weight: 800;
  grid-area: content;
  align-self: center;
  min-height: 58.6vh;
  text-align: center;
  border-radius: 15px;
  justify-items: center;
  align-items: baseline;
  align-content: center;
  flex-direction: column;
  border: 2px solid #f0f0f0;
  margin: 5px auto 20px auto;
  justify-content: space-around;
  font-family: Caveat, 'Cavaet', cursive;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);

  .content {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    img {
      width: 250px;
      height: 250px;
      max-width: 350px;
      margin-top: 30px;
      max-height: 350px;
      border-radius: 50%;
      margin-bottom: 10px;
      transition: 1s ease;
      border: 2px solid #EE7178;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    }

    input[type="file"] {
      display: none;
    }

    .customFileUpload {
      cursor: pointer;
      font-size: 11px;
      padding: 7px 4px;
      font-weight: 600;
      color: whitesmoke;
      border-radius: 5px;
      margin-bottom: 15px;
      display: inline-block;
      border: 1px solid #ccc;
      text-transform: uppercase;
      background-color: #F0650D;
      font-family: raleway-grid, sans-serif;
      box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    }

    .contentInfo {
      padding: 15px;
      max-width: 750px;
      border-radius: 5px;
      margin-bottom: 10px;
      font: 20px Caveat, cursive;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
      -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
    }

    .btn {
      width: 90%;
      display: flex;
      margin: 15px 0;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;

      .goBack {
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.logoContainer {
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  text-align: center;
  flex-direction: row;
  margin-bottom: 20px;
  justify-items: center;
  align-items: baseline;
  align-content: center;
  justify-content: space-around;

  .logo {
    .tittle {
      font-size: 27px;
    }
  }
}

.closeBtn {
  display: flex;
  color: #EE7178;
  text-align: right;
  position: relative;
  margin-right: 10px;
  align-self: flex-end;
  align-items: baseline;
  align-content: center;
  justify-content: left;
  justify-items: flex-end;

  .icon:hover {
    transform: rotate(180deg);
  }
}

.emptyProfile {
  width: 70%;
  height: auto;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  background: #fff;
  font-weight: 800;
  grid-area: content;
  min-height: 58.6vh;
  align-self: center;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  align-content: center;
  justify-items: center;
  flex-direction: column;
  border: 2px solid #f0f0f0;
  margin: 5px auto 20px auto;
  justify-content: space-around;
  font-family: Caveat, 'Cavaet', cursive;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);

  p,span {
    font-size: 18px;
  }

  .register {
    color: #EE7178;

    span:hover {
      border-bottom: 1px solid#EE7178;
    }
  }
}

@media only screen and (max-width: 600px) {
  .descriptionBlock {
    width: 90%;
  }
}
