.button {
  width: 70px;
  font: 18px Caveat, cursive;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 5px;
  color: #DEE8C1;
  background-color: #EE7178;
  padding: 3px;
  transition: 0.3s ease;
  z-index: 10;

  &:hover, :active, :focus {
    color: #EE7178;
    background-color: #DEE8C1;
  }
}
